@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;400;600&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,700;1,200;1,600&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Roboto Slab", serif;
  font-family: "Source Code Pro", monospace;
}

.app{
  display: flex;
  position: relative;
}

::-webkit-scrollbar{
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track{
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb{
  background: #888;
}

/* Handle on Hover */
::-webkit-scrollbar-thumb:hover{
  background: #888;
}